<ion-header>
  <ion-toolbar>
    <ion-title>Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Present Limitation</ion-card-subtitle>
          <ion-card-title>{{limitation}} A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              
              <ion-item>
                <ion-label>Adjust Limit</ion-label>
                <ion-range min="0" max="15" pin="true" [(ngModel)]="limitation" color="secondary">
                  <ion-icon range-left small name="contrast"></ion-icon>
                  <ion-icon range-right name="contrast"></ion-icon>
                </ion-range>
              </ion-item>
              
              </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
