<ion-header>
  <ion-toolbar>
    <ion-title>Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Present Limitation</ion-card-subtitle>
          <ion-card-title>5 A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              
                <ion-item>
                  <ion-label>Required Limit</ion-label>
                  <ion-select placeholder="Select One">
                    <ion-select-option value="f">5 A</ion-select-option>
                    <ion-select-option value="m">3 A</ion-select-option>
                    <ion-select-option value="m">2 A</ion-select-option>
                  </ion-select>
                </ion-item>
              
              </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
