<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Intro</ion-card-subtitle>
          <ion-card-title>SmartBreaker</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You can control the current used by all your electronic devices using this SmartBreaker app and SmartBreaker electronic module. Feel free to
          consider the safety of your devices using SmartBreaker.
        </ion-card-content>
      </ion-card>

</ion-content>
